.auth-button-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 75px;

  .auth-button-title {
    font-size: 14px;
    padding-right: 10px;
  }

  .auth-button {
    border: none;
    background-color: white;
    color: #777673;
    cursor: pointer;
    padding-left: 7px;
  }
}
