.about-us-wrapper {
  .about-us-logo {
    display: flex;
    justify-content: center;
  }
  .about-us-logo img {
    height: 300px;
    width: 400px;
  }

  .about-us-columns {
    display: grid;
    grid-template-columns: 400px auto;
    padding-left: 30px;

    .about-us-description {
      font-size: 18px;
      margin-top: 15px;
      padding-left: 50px;
      padding-right: 120px;
    }
    .about-us-image {
      height: 300px;
      width: 350px;
      align-self: start;
      margin-top: 20px;
    }
  }
}
