.form-input {
  display: grid;
  grid-gap: 6.5px;
  padding-left: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  height: 39px;
  width: 600px;
  border: 1px solid #cbc8c1;
  border-radius: 5px;
  color: #777673;
  font-size: 14px;
}

.form-comment {
  display: grid;
  grid-gap: 6.5px;
  padding-left: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  height: 125px;
  width: 600px;
  border: 1px solid #cbc8c1;
  border-radius: 5px;
  color: #777673;
  font-size: 14px;
}

.form-button {
  padding-left: 20px;
  height: 38px;
  width: 300px;
  border: 1px solid #777673;
  border-radius: 5px;
  background-color: #cbb980;
  font-size: 16px;
  color: #1d1c1a;
  margin-top: 80px;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

@media (max-width: 768px) {
  .form-input {
    box-sizing: border-box;
    height: 60px;
    width: 400px;
    border: 1px solid #cbc8c1;
    border-radius: 5px;
    color: #777673;
    font-size: 14px;
  }
  .form-comment {
    box-sizing: border-box;
    height: 125px;
    width: 400px;
    border: 1px solid #cbc8c1;
    border-radius: 5px;
    color: #777673;
    font-size: 14px;
  }
}
